<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="create-deal">AddDeals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="deals-list">Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="edit-deals/:id">Edit</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet> </router-outlet>
</div>
